* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

section {
  margin: 1.5rem auto;
  width: 30rem;
  display: flex;
  /* justify-content: center; */
  gap: 2rem;
  padding: 2rem 3rem;
  background-color: red;
  color: white;
  border-radius: 1rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
}

span {
  font-size: 1.5rem;
  flex-shrink: 0;
  background-color: slateblue;
  color: white;
  border-radius: 2rem;
  align-self: start;
  padding: 1rem 2rem;
}
